#hair{
    color: white;
}
#menu{
    background-image: url(../img/bg.png);
    background-color: rgb(81, 148, 81);
}
#shop{
    background-color: black;
    color: white;
}
#natural{
    color: white;
    font-size:30px;
}
#hair2{
    color: white;
}
#for{
    color: white;
}
#sham{
    color: black;
}
#Healthy{
    color: white;
}
#Lorem{
    color: white;
    font-size:large;
}
#cont{
    color:rgb(21, 26, 21);
}
#color{
    background-color: rgb(81, 148, 81);
    padding-left: 25%;
    padding-top: 20%;
    color: aliceblue;
}
#color2{
    background-color:  rgb(81, 148, 81);
    padding-left: 25%;
    padding-top: 20%;
    color: aliceblue;
}
#color3{
    background-color: rgb(81, 148, 81);
    padding-left: 25%;
    padding-top: 20%;
    color: aliceblue;
}
.box{
    border: 2px solid black;
    background-color: rgb(81, 148, 81);
    padding: 10px 10px 10px 10px;
    width: auto;
    height: auto;
    text-align: center;
}
#hh{
    color: rgb(81, 148, 81);
}
#beauty{
    color: black;
    font-size: 150%;
}
#lor{
    color: black;
    font-size: 130%;
}
#diam{
    color: black;
    font-size: 130%;
}
#butt{
    color:black;
    background-color: rgb(81, 148, 81);
}
#best{
    text-align: center;
} 
#natu{
    text-align: center;
    color: rgb(81, 148, 81);
} 
.dolor{
    text-align: center;
    font-size:120%;
}
#howto{
    background-color: rgb(81, 148, 81);
    background-image: url(img/bg.png);
}
#how{
    text-align: center;
    font-size: 300%;
}
#sit{
    text-align: center;
    font-size: 120%;
    color: aliceblue;
}
.box1{
    text-align: center;
    color: aliceblue;
}
#our{
    color: rgb(81, 148, 81);
    text-align: center;
}
#amet{
    text-align: center;
    color:black;
}
.box3{
    border: 2px solid rgb(221, 212, 212);
}
.shi{
    text-align: center;
    color: black;
    font-size: 120%;
} 
.nu{
    text-align: center;
    color: rgb(81, 148, 81);
}  
.star{
    text-align: center;
}
#from{
    text-align: center;
    color: rgb(81, 148, 81);
}
#cons{
    text-align: center
}
.box4{
    border: 2px solid whitesmoke
}
#form{
    background-image: url(img/bg.png);
    background-color:  rgb(81, 148, 81);
}
#let{
    text-align: center;
    padding-top: 30px;
}
#subs{
    text-align: center;
    font-size: smaller;
}
#en{
    border: 2px solid whitesmoke;
    width: 500px;
    height: 50px;
}  
#fom{
    text-align: center;
}  
#subb{
    color: rgb(223, 212, 212);
    background-color: rgb(80, 47, 47);
}
.url{
    color: rgb(81, 148, 81);
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    ;
}
